<!DOCTYPE html>
<html lang="{% if page %}{{ page.lang }}{% else %}{{ config.default_language }}{% endif %}">
<head>
    {% include "head.html" %}
    <script defer data-website-id="6752f1a8e9b35320136d5011" data-domain="christopherwoggon.com" src="https://datafa.st/js/script.js"></script>
</head>
<body>
      <header>
          {% include "header.html" %}
      </header>
      <main>
          {% block content %}
          {% endblock content %}
      </main>
      <footer>
          {% include "footer.html" %}
      </footer>
</body>
</html>